.TodoTemplate {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 2px #999;

  .app-title {
    background: #3ebc9e;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2.5px solid white;
  }
  .content {
    background: white;
  }
}
