.TodoList {
  min-height: 0px;
  max-height: 513px;
  overflow-y: auto;

  table {
    width: 100%;

    td {
      width: 90px;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid #999;
      line-height: 2;
    }
  }
}
