.TodoInsert {
  // display: flex;
  background: #dee2e6;
  padding-bottom: 1rem;
  div {
    background: #dee2e6;
    outline: none;
    border: none;
    padding: 0.6rem;
    font-size: 1.125rem;
    flex: 1;
    color: rgb(24, 23, 23);
    border-bottom: 0.2px solid #999;
    height: 40px;
    &::placeholder {
      color: #dee2e6;
    }
    b {
      display: inline-block;
      width: 120px;
      padding-left: 10px;
    }
  }
  input,
  select {
    display: inline-block;
    width: 100px;
    background: none;
    outline: none;
    border: none;
    padding: 0.6rem;
    font-size: 1.125rem;
    flex: 1;
    color: rgb(24, 23, 23);
    &::placeholder {
      color: #dee2e6;
    }
  }
  button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #3ebc9e;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    &:hover {
      background: #adb5bd;
    }
  }
}
