.TodoListItem {
  padding: 1rem;
  margin: 0;
  align-items: center;

  table {
    width: 100%;

    td {
      width: 90px;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid #999;
      line-height: 2;
    }
  }
  &:nth-child(even) {
    background: #f8f9fa;
  }
  .text {
    float: left;
  }
  button {
    margin: 0;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .remove {
    color: rgb(228, 29, 29);
  }
  .update {
    color: rgb(42, 42, 187);
  }
  & + & {
    border-top: 1px solid #dee2e6;
  }
}
